@font-face {
  font-family: "iconfont"; /* Project id 3243406 */
  src: url('/iconfont.woff2?t=1767111648407') format('woff2'),
       url('/iconfont.woff?t=1767111648407') format('woff'),
       url('/iconfont.ttf?t=1767111648407') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linux:before {
  content: "\e80b";
}

